<!DOCTYPE html>
<html>
    <head>
        <title>Info Page - Yes</title>
    </head>
    <body>
        <h1>Info Page I made</h1>
        <p>This is the info page: here's some information about me!</p>
    </body>
</html>
